<nav>
    <div class="row">
        <div class="nav-head">
            <div>
                <img class="nav-logo" src="./resources/img/logo.png" alt="Logo">
            </div>
            <div class="nav-phones">
                <div class="phone">
                    <a class="phone-number" href="tel:8 (702) 417 42 97">8 (702) 417 42 97</a>
                    <span class="phone-name">Клиентское обслуживание</span>
                </div>
                <div class="phone">
                    <a class="phone-number" href="tel:8 (707) 212 10 11">8 (707) 212 10 11</a>
                    <span class="phone-name">Для партнеров</span>
                </div>
            </div>
            <div class="social-icons">
                <img class="social-icon" src="./resources/icons/social.fb.svg" alt="Facebook">
                <img class="social-icon" src="./resources/icons/social.inst.svg" alt="Instagram">
                <img class="social-icon" src="./resources/icons/social.vk.svg" alt="VK">
            </div>
            <a class="mobile-nav-icon js--nav-icon">
                <i class="ion-navicon-round"></i>
            </a>
        </div>

        <hr>

        <div class="nav-body js--nav-body">
            <ul class="d-md-flex">
                <li><a href="./index.php#section-main">Главная</a></li>
                <li><a href="./index.php#section-product">О продукций</a></li>
                <li><a href="./index.php#section-features">Преимущества</a></li>
                <li><a href="./index.php#section-gallery">Галерея</a></li>
                <li><a href="./index.php#section-reviews">Отзывы</a></li>
                <li><a href="./index.php#section-contacts">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
