//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';
$red: #cd3a2c;
$dark-red: #cd3a2c;
$gray: #cccccc;
$bg-gray: #32292f;
