.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e919";
}
.icon-menu-lines:before {
  content: "\e91a";
}
.icon-articulation-bones:before {
  content: "\e900";
}
.icon-blood-analysis:before {
  content: "\e901";
}
.icon-calendar-with-clock:before {
  content: "\e902";
}
.icon-care:before {
  content: "\e903";
}
.icon-care-hands:before {
  content: "\e904";
}
.icon-check-form:before {
  content: "\e905";
}
.icon-clipboard-with-list:before {
  content: "\e906";
}
.icon-doctor:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-arrow-up:before {
  content: "\e909";
}
.icon-earth:before {
  content: "\e90a";
}
.icon-eyes:before {
  content: "\e90b";
}
.icon-guarantee-certificate:before {
  content: "\e90c";
}
.icon-headphones:before {
  content: "\e90d";
}
.icon-arrow-left:before {
  content: "\e90e";
}
.icon-medical-history:before {
  content: "\e90f";
}
.icon-meditation:before {
  content: "\e910";
}
.icon-multiple-users:before {
  content: "\e911";
}
.icon-plane:before {
  content: "\e912";
}
.icon-arrow-right:before {
  content: "\e913";
}
.icon-salad:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-speech-bubble:before {
  content: "\e916";
}
.icon-stomach:before {
  content: "\e917";
}
.icon-thumbs-up-hand-symbol:before {
  content: "\e918";
}
