/* BASIC SETUP */

@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIRegular.ttf");
}
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIBold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIItalic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUILight.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUISemiBold.ttf");
    font-weight: 500;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #0F365A;
    font-family: SegoeUI, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* REUSABLE COMPONENTS */

.main-container {
}

.row {
    margin: 0 auto;
    max-width: 1140px;
    display: block;
}

section {
    padding: 70px 0;
}

.long-copy {
    color: #A6A6A6;
    margin: 15px auto;
    max-width: 530px;
    text-align: center;
}

ul { list-style: none; }

hr { margin: 0; }

a {
    color: #0F365A;
    transition: color 0.2s;
}

a.active {
    color: #217DD1;
}

a:hover {
    color: #217DD1;
    text-decoration: none;
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -70px;
    left: 0;
    visibility: hidden;
}

/* HEADINGS */

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 150%;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 120%;
}

/* BUTTONS */

.btn-primary {
    background-color: #217DD1;
    border-radius: 200px;
    padding: 8px 35px;
}

/* NAVIGATION */

nav {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 0 10px rgba(166, 166, 166, 0.5);
    box-shadow: 0 0 10px rgba(166, 166, 166, 0.5);
    z-index: 9999;
}

nav .row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.nav-body { 
    display: flex;
    flex: auto;
}

nav .logo-transparent {
    height: 20px;
    margin: 5px 0;
}

nav ul {
    margin: 0 auto;
}
nav ul li{
    padding: 0 20px
}

nav .icon-phone {
    height: 18px;
    margin: 5px 8px;
}

nav hr { display: none; }

/* MOBILE NAVI */

.mobile-nav-icon {
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 130%;
    color: #0F365A;
}

/* SECTIONS */

.section-main {
    color: #fff;
    padding: 50px 0;
    text-align: center;
    background-image: url(./img/china_map.png), url(./img/bg_main.png);
    background-position: center;
    background-size: 800px, cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    position: relative;
}

.section-main * {
    margin: 20px auto;
    display: block;
}

.section-main .logo {
    height: 60px;
    margin-bottom: 70px;
}

.section-main h2 {
    max-width: 500px;
    margin-bottom: 100px;
}

.mouse-down {
    height: 30px;
    margin-top: 80px;
    margin-bottom: 0;
}


.section-services {
    padding-bottom: 50px;
}

.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.service {
    width: 320px;
    padding: 25px;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 10px rgba(166, 166, 166, 0.5);
    box-shadow: 0 0 10px rgba(166, 166, 166, 0.5);
    margin: 20px 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.service img {
    margin-bottom: 20px;
}

.service ul {
    color: #A6A6A6;
    font-size: 80%;
    margin-top: 25px;
}

.service ul li {
    line-height: 20px;
    margin-bottom: 15px;
}

.section-features {
    
}

.section-features button {
    margin: 0 auto;
    display: block;
}

.features {
    margin: 30px 0 50px;
}

.feature {
    background-color: #E3EEF9;
    padding: 40px;
}

.feature h3 {
    text-transform: uppercase;
}

.feature img {
    height: 115px;
}


.feature p { margin-bottom: 0; }

.feature .row div {
    max-width: 700px;
    margin-left: 30px;
}

.feature .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.feature.grey { background-color: #F9F9F9; }
.feature.grey .row div {
    margin-left: 0;
    margin-right: 30px;
}

.section-reviews {
    
}

.review {
    margin: 30px 0 70px;
}

.review * {
    text-align: center;
    margin: 15px auto;
}

.persons-review { max-width: 600px; }

.persons-img {
    display: block;
    height: 70px;
}

.persons-name {
    font-size: 90%;
    font-weight: 500;
}

.persons-city {
    color: #A6A6A6;
    font-size: 80%;
}

.quote-sign * {
    display: inline-block;
}
.quote-sign img {
    height: 30px;   
}

.quote-sign hr {
    width: 180px;
    margin: 0 30px;
}

.carousel-control-prev-icon {
    background-color: #217DD1;
    background-image: url(../icons/chevron-left.svg);
    background-size: 8px;
    background-position: center;
    padding: 15px;
    border-radius: 50%;
}

.carousel-control-next-icon {
    background-color: #217DD1;
    background-image: url(../icons/chevron-right.svg);
    background-size: 8px;
    background-position: center;
    padding: 15px;
    border-radius: 50%;
}

.carousel-indicators li{
    background-color: rgba(33, 125, 209, 0.5);
    border-radius: 50%;
    width: 9px;
    height: 9px;
    cursor: pointer;
}

.carousel-indicators li.active{
    background-color: #217DD1;
}

.section-contacts {
    
}

.section-contacts button {
    margin: 0 auto;
    display: block;
}

.map-container {
    display: flex;
    margin: 50px 0;
    height: 100%;
}

.map {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(166, 166, 166, 1);
    width: 70%;
    max-height: 570px;
    display: none;
}

.map.active {
    display: block;
}

.map-mail {
        margin: 25px 0 25px 21px;
}
.map-info-container {
    position: relative;
    z-index: 1;
    width: 30%;
}

.map-info {
    padding: 20px;
    border-radius: 5px; 
    position: relative;
    margin-bottom: 10px;
}
.map-info.active {
    border:1px solid #D1D1D1;
}
.map-info div {
    color: #217DD1;
    font-weight: 500;
    margin-bottom: 5px;
}

.map-info p {
    max-width: 65%;
    font-size: 14px;
    margin: 0;
}

.map-info.active:before {
    background: #D1D1D1;
    height: calc(100% + 2px);
    right: -26px;
    top: -1px;
    clip-path: polygon(0 0,75% 0,100% 50%,75% 100%,0 100%);
    content: "";
    display: block;
    border-radius: 5px;
    width: 100px;
    position: absolute;
}

.map-info.active:after {
    height: 100%;
    right: -25px;
    top: 0;
    clip-path: polygon(0 0,75% 0,100% 50%,75% 100%,0 100%);
    content: "";
    display: block;
    border-radius: 5px;
    width: 100px;
    position: absolute;
    background: #fff;
    
}


.qr-code {
    height: 110px;
    margin: 25px 0 25px 21px;
}

/* FOOTER */

footer { padding: 25px 0; }

footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo-footer {
    height: 25px;
    margin-right: 50px;
}

.social-icons { margin: 0 auto; }

.social-icon {
    margin: 5px 15px;
    height: 20px;
}

footer span {
    font-size: 70%;
    padding: 5px 0;
}