/* BASIC SETUP */

@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIRegular.ttf");
}
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIBold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIItalic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUILight.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUISemiBold.ttf");
    font-weight: 500;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #000;
    font-family: SegoeUI, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* REUSABLE COMPONENTS */

.main-container {
    
}

.row {
    margin: 0 auto;
    max-width: 1140px;
}

section {

}

ul {
    list-style: none;
}

/* HEADINGS */

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 155%;
    font-weight: normal;
}

h3 {
    font-size: 135%;
    margin: 0;
    position: relative;
    padding: 0 40px;
    line-height: 20px;
}

h3:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 25px;
    height: 2px;
    background: #F03354;
}

/* BUTTONS */

.btn-primary {
    background-color: #217DD1;
    border-radius: 200px;
    padding: 8px 35px;
}

/* HEADER */

.hero-text-box {
    color: #fff;
    padding: 50px 0;
    text-align: center;
    background-image: url(./img/china_map.png), url(./img/bg_main.png);
    background-position: center;
    background-size: 800px, cover;
    background-repeat: no-repeat;
}

.hero-text-box * {
    margin: 20px auto;
    display: block;
}

.hero-text-box .logo {
    height: 60px;
    margin-bottom: 70px;
}

.hero-text-box h2 {
    max-width: 500px;
    margin-bottom: 100px;
}

.mouse-down {
    height: 30px;
    margin-top: 80px;
    margin-bottom: 0;
}


/* NAVIGATION */

nav {
    border-bottom: 1px solid grey;
    height: 70px;
}

/* SECTIONS */

