/* Big tablet to 1200px (widths smaller taht the 1140px row) */

@media only screen and (max-width: 1200px) {
    .row { padding: 0 2%; }
}

@media only screen and (min-width: 1400px) {
    .section-feedback .form {
        right: 15%;
    }
}


/* Small tablet to big tablets: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    nav .social-icon:nth-of-type(2) {
        margin: 5px 5px;
    }
    section { padding: 60px 0; }
    .section-services { padding-bottom: 40px; }
    
    .section-product .product-images {
        width: 51%;
        font-size: 72%;
    }
    
    .section-features .feature {
        width: 49%;
    }
    .section-features .feature:nth-of-type(1n+3) {
        margin-top: 40px;
    }
    
    .section-contacts .map { width: 68%; }
    
    .section-feedback .form {
        right: 2%;
        padding: 50px 8%;
    }
    .section-feedback .form input {
        width: 270px;
    }
}

/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
    
    .row { padding: 0 5%; }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
    }
    nav .nav-body ul li { margin: 0; }
    .section-main {
        margin-top: 73px;
    }
    
    
    nav .nav-phones, nav .social-icons, nav hr { 
        position: absolute;
        left: 5%;
        width: 90%;
        display: none;
    }
    
    nav hr {
        top: 250px;
    }
    
    nav .nav-head .nav-phones {
        top: 270px;
    }
    nav .social-icons {
        top: 330px;
    }
    
    nav .social-icons .social-icon {
        height: 18px;
    }
    
    nav .nav-head .nav-phones .phone {
        display: block;
        font-size: 90%;
    }
    nav .nav-head { padding: 20px 0; }
    nav .nav-head .nav-logo {}
    .mobile-nav-icon {
        display: block;
        float: right;
    }
    nav .nav-body { height: 100vh; display: none; }

    .section-product .product-images {
        display: none;
    }
    .section-product .product-info p { max-width: 1140px; padding-right: 10px;}
    .section-product .product-info .btn-transparent { margin-top: 50px; }
    
    .section-gallery a {
        width: 49%;
    }
    .section-gallery a:nth-of-type(1n+3) {
        margin-top: 2%;
    }
    
    .section-contacts .map { margin-top: 50px; width: 100%; height: 300px; }
    
    .section-feedback .form {
        right: 0;
        margin-top: 50px;
        padding: 50px 5%;
        position: relative;
    }
    .section-feedback .form input {
        width: 98.5%;
    }
    
    .reviews.large-screen {
      display: none;
    }

    .reviews.small-screen {
      display: block;
    }
    
    footer .row {
        display: block;
    }
    footer {
        text-align: left;
    }
    footer .social-icons { margin: 25px 0;}
    footer .social-icon:first-child { margin-left: 0;}
    footer .logo-footer { margin-right: 0;}
}

/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
    h1 { font-size: 180%; }
    h2 { font-size: 130%; }
    
    .section-product .product-info p:last-child span { display: block; }
    
    .section-features .feature {
        width: 100%;
    }
    .section-features .feature:nth-of-type(1n+2) {
        margin-top: 40px;
    }
    
    .section-feedback .discount .discount-head {
        font-size: 85%;
    }

    .section-feedback .discount img {
        height: 35px;
        margin-left: 20px;
    }

    .section-feedback .discount p {
        font-size: 200%;
    }
}  